<!DOCTYPE html>
<html>
  <head>
    <title>Project3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ4GK5BgqFMN8Vc5srUckmB6zf3eZlL0g&libraries=visualization,places&callback=initMap" async defer></script>

  </head>

  <body>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" style=" display: block;">

    <%= yield %>


  </body>
</html>
